!!! 5
%html(lang='zh-CN' ng-app)
  %head
    %title Knowledge Sharing
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.brand(href="#{root_path}")Knowledge Sharing
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle='dropdown')
                帐号
                %b.caret
              %ul.dropdown-menu
                -if user_signed_in?
                  %li
                    =link_to '编辑', edit_user_registration_path
                  %li.divider
                  %li
                    =link_to '登出', destroy_user_session_path, :method => 'delete'
                -else
                  %li
                    =link_to '登录', new_user_session_path
                  %li.divider
                  %li
                    =link_to '注册', new_user_registration_path
    #wrap
      .container
        = yield
    #footer
      .container
        adasdf
